<footer <%=name_page=='Login' ? 'class=footer-login':''%>>
    <div class="social">
        <img src="../icon/facebook.png" alt="" class="img-icon">
        <img src="../icon/instagram.png" alt="" class="img-icon">
        <img src="../icon/twitter.png" alt="" class="img-icon">
        <img src="../icon/youtube.png" alt="" class="img-icon">
    </div>
    <small>&copy; Ly Ngoc Bich Lam 2023</small>
</footer>