<%- include('./header.ejs') %>
<main>
    <div class="main">
        <div class="container">
            <p>Dictionary</p>
            <a href="dictionary"><button>Bắt đầu <img src="../icon/search.png" alt="" class="img-icon"></button></a>
        </div>
    </div>
</main>
<%- include('./footer.ejs') %>